// COLORS

$color-primary: #7c388d;
$color-primary-light: #c6426e;
$color-primary-dark: #642b73;

$color-green-light: #88d498;
$color-green-dark: #1a936f;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-red-light: #f37f7f;
$color-red-dark: #fa4343;

$color-pink-light: #f2bac9;
$color-pink-dark: #c62e65;

$color-purple-light: #b59fff;
$color-purple-dark: #7159c1;

$color-orange-light: #f9ab55;
$color-orange-dark: #ff7d00;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #cacaca;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 72rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
