.navigation {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;

  &__logo-box {
    top: 2rem;
    left: 2rem;
  }

  &__logo {
    font-size: 4rem;
    color: $color-white;
  }

  &__list {
    @include respond(phone) {
      display: none;
      visibility: hidden;
    }

    list-style: none;
    display: flex;
  }

  &__link {
    color: $color-white;
    margin: 0 1rem;

    &:hover,
    &:active {
      color: $color-white;
      font-weight: 500;
      border-bottom: 5px solid $color-primary-light;
    }
  }
}
